*{
    box-sizing: border-box;
    font-family: 'Poppins';
    text-decoration: none;
}

.Pagina-portfolio{
   

.cabecalho{
   

background-color: #F5F4F4;
width: 100%;
height: 70px;
flex-direction: row;
display: flex;

.menu img{
    
width: 30px;
height: 40pxpx;
margin-left: 100px;
margin-top: 20px;
}

li {
    text-decoration: none;
list-style-type: none;


}

nav{
flex-direction: row;
display: flex;
gap: 20px;
margin-left: 800px ;
align-items: center;
right: 300px;
text-decoration: none;

font-size: 10px;


}
}
.fundo img{
    margin-top: 0px;
    width: 100%;
    height: auto;

    display: inline-block;
    position: absolute;
    }

    .perfil img{
        display: inline-block;
        position: absolute;
        width: 200px;
        height: auto;

        right: 62.5rem;
        margin-top: 100px;
        margin-right: 200px;
        

    }
    .perfil h2{
        display: inline-block;
        position: absolute;
        color: white;

        margin-top: 330px;
        left: 20px;
    }
   
    .perfil p {
        display: inline-block;
        position: absolute;
        color: #ffffff;
        font-size: 21px;
    
      background-color: rgb(255, 255, 255, 20%);
      padding: 50px;
        border-right: 300px ;

        border-radius: 30px;
        width: 700px;
        top: 150px;
         left: 40%;
    }

    



    
    }

  

    



