.pagina-inicial {

  .cabeçalho {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 10px 20px;
    background-color: #F5F4F4;
  
    .logo {
      width: 120px; 
    }
  
    .menu-opcoes {
      display: flex;
      gap: 20px;
      list-style: none;
  
      li {
        color: #ffffff;
        cursor: pointer;
      }
    }
  
    
  }

 
    @media (max-width: 768px) {
      .cabeçalho .menu-opcoes {
        display: none; 
      }
    
      .cabeçalho .menu-icone {
        display: block; 
      }
    .cabeçalho .menu-opcoes {
      display: none; 
    }
  }
  .conteudo {
    display: inline-block;
    position: relative;
    align-items: center;

    img {
      width: 100%;
    }
  
    a {
      text-decoration: none;
      color: #ffffff;
    }
  
    h1 {
      display: inline-block;
      position: absolute;
      color: white;
      top: 150px;
      right: 500px;
  
      @media (max-width: 1024px) {
        top: 100px;
        right: 250px;
        font-size: 1.5rem;
        text-align: center;
      }
  
      @media (max-width: 768px) {
        top: 80px;
        right: 50px;
        font-size: 1.2rem;
      }
    }
  }
  
  .login, .cadastra {
    position: absolute;
    padding: 5px 35px;
    border-radius: 20px;
    color: #ffffff;
    text-align: center;
    align-items: center;
    
    @media (max-width: 1024px) {
      top: 250px;
    }
  
    @media (max-width: 768px) {
      position: relative;
      top: 0;
      margin: 10px 0;
      padding: 5px 20px;
    }
  }
  
  .login {
    top: 300px;
    right: 800px;
    background-color: #3315da;
  
    @media (max-width: 1024px) {
      right: 400px;
    }
  
    @media (max-width: 768px) {
      right: 0;
    }
  }
  
  .cadastra {
    top: 300px;
    right: 550px;
    background-color: #1521c5;
  
    @media (max-width: 1024px) {
      right: 200px;
    }
  
    @media (max-width: 768px) {
      right: 0;
    }
  }
  

}

